.conce {
    &__radio-option {
        position: relative;
        cursor: pointer;
        border: 1px solid #F3F4F6;
        padding: 1rem;

        &__head {
            display: flex;
        }

        &__body {
            cursor: default;
        }

        &__input {
            -webkit-appearance: none;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            outline: none;
            box-shadow: 0 0 0 2px #374151;
        }

        &__input:checked {
            box-shadow: 0 0 0 2px #374151;
        }

        &__input:checked:before {
            background: #374151;
        }

        &__input:before {
            content: '';
            display: block;
            width: 70%;
            height: 70%;
            margin: 15% auto;
            border-radius: 50%;
        }

        &__label {
            display: flex;
            flex-direction: column;
            margin-left: 0.75rem;
            cursor: pointer;
            margin-top: -1px;
        }
    }

    &__radio-option:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &__radio-option:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}
