.radioOption:first-child {
    @apply rounded-tl-md rounded-tr-md;
}

.radioOption:last-child {
    @apply rounded-bl-md rounded-br-md;
}

.input {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px #374151;
}

.input:checked {
    box-shadow: 0 0 0 2px #1E40AF;
}

.input:checked:before {
    background: #1E40AF;
}

.input:before {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    margin: 15% auto;
    border-radius: 50%;
}
